Que 1.) What are data structures, and why are they important ?

Ans= Data Structure is a way of organizing and storing data so that it can be accessed and manipulated and efficiently. Python provide many data structre like
List, Tuple, Set, String and dictionary.

Importance of data structrue:

(1) Choosing the right data structure significantly impacts the efficiency and performance of your program.

(2) Well-chosen data structures can:

(3) Simplify data manipulation (adding, removing, modifying elements)

(4) Optimize searching and sorting operations

(5) Conserve memory usage

Que 2.) Explain the difference between mutable and immutable data types with examples ?

Ans= (1) Mutable object, such as List, Set and dictionary can be modified after creation.

example: 1 List

In [ ]:
List1=[1,2,6,4,5]
List1[2]=6 # List are modify after creation.
print(List1)

[1, 2, 6, 4, 5]

In [ ]:
# Example: 2 Set
Set1={1,2,6,4,5}
Set1.add(3) # Set are modify after creation.
print(Set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Example:3 dictionary
Dict1={"Name":"Raj","Class":"12th"}
Dict1["Name"]="Rajdeep" # dictionary are Modify after creation.
print(Dict1)

{'Name': 'Rajdeep', 'Class': '12th'}

(2) Immutable object, such as tuple, String can not be modified after creation.
  Immutable Object use less memory because of immutability.

Example: 1 tuple

In [ ]:
tuple1=(1,2,6,4,5)
tuple1[2]=6  # 'tuple' object does not support item assignment [Because tuple is immutable]
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Example: 2 String
str1="Rajbeep"
str1[3]="d"  # 'str' object does not support item assignment [Because of string is immutable]
print(str1)

TypeError: 'str' object does not support item assignment

Que 3.) What are the main differences between lists and tuples in Python ?

Ans= (1) List can be changed by adding and removing element. because List is Mutable.

tuple can not be changed by adding and removing element. because Tuple is Immutable.

(2) List can be defined using Square bracket.

Tuple can be defined using parentheses.

(3) List is slower due to dynamic size and mutability.

tuple is faster due to static size and immutability.

(4) List have many built-in method like append, pop, remove, reverse, clear, extend etc.

Tuple have less built-in method like count, index.

(5) List consume more memory due to mutability.

tuple consume less memory due to immutability.

Que 4.) Describe how dictionaries store data ?

Ans= a dictionary stores data in pairs, and each pair has:

A key (like the toy's name).
A value (like the toy's color or type).

For example:

In [ ]:
toys = {
    "car": "red",      # The key is "car" and the value is "red"
    "doll": "pink",    # The key is "doll" and the value is "pink"
    "ball": "blue"     # The key is "ball" and the value is "blue"
}
print(toys)

{'car': 'red', 'doll': 'pink', 'ball': 'blue'}

Que 5.) Why might you use a set instead of a list in Python ?

Ans= (1)Set automatically ensures that all the items are unique. If you try to add the same item more than once, it won't be added again.

List allows duplicate items, so if you add the same item multiple times, it will appear multiple times.

(2)Set is much faster when you need to check if an item is present or not because it uses a special technique called hashing.

List checks for membership one item at a time, so it can be slower for large lists

(3)Set provides useful mathematical operations like union, intersection, difference, and subset checks that make working with sets of data easier.

These operations are not as easy to do with a list.

(4)Set does not maintain the order of the items. This might be fine if you only care about the values and not the order.

List maintains the order of the elements, which is useful when you need to keep track of the sequence of data.

Que 6.) What is a string in Python, and how is it different from a list ?

Ans= String is a sequence of character that represent and manipulate textual data.String is a immutable its mean string can not change and add. String have many built-in method like strip, upper, lower, startswith, endswith, count, isnum, isalnum, isdigit, isnumerice etc. String are define by using "", '', ''''''.String can not be stored Heterogeneous Data.


List=> On the other hand, List is ordered collection of items.List is mutable
its means List can change and add.List have many Built-in method like append, remove, pop, reverse, extend etc. List are define by using square bracket [ ].
List can be stored Heterogeneous Data.

Que 7.) How do tuples ensure data integrity in Python ?

Ans=Once a tuple is created, you cannot change its contents. This means you cannot add, remove, or modify elements inside a tuple after it is created.
Since tuples cannot be changed once created, the data inside them is protected from accidental modification.Tuples are hashable, which means they can be used as keys in dictionaries or stored in sets. This is another feature that comes from their immutability.

Que 8.) What is a hash table, and how does it relate to dictionaries in Python ?

Ans= A hash table is a data structure that allows for efficient storage and retrieval of data using a method called hashing. The idea behind a hash table is to store data in an array-like structure where each element is placed at an index determined by a hash function.

Que 9.) Can lists contain different data types in Python ?

Ans= Yes, in Python, lists can contain different data types. A list is a heterogeneous collection, meaning it can store items of various types, including integers, strings, floats, booleans, other lists, and even custom objects.

Que 10.) Explain why strings are immutable in Python ?

Ans= Strings are immutable, meaning once a string is created, it cannot be modified. There are several reasons behind this immutability.

(1) Efficiency and Performance
(2) Data Integrity and Security
(3)Simplicity and String Interning

Que 11.) What advantages do dictionaries offer over lists for certain tasks ?
  
Ans= Dictionaries in Python offer several advantages over lists, especially for tasks that require fast lookups, unique key-value pair mappings, or organization of data in a more structured way.

(1) Fast Lookups by Key (Constant Time Complexity)

(2) Storing and Retrieving Data with Unique Keys

(3) Key Uniqueness and Mapping Complex Data

(4) Inserting and Deleting Elements and Ordering of Elements

Que 12.)  Describe a scenario where using a tuple would be preferable over a list ?

Ans= A scenario where using a tuple would be preferable over a list is when you need to store immutable data that should not be changed after its creation. Since tuples are immutable (their contents cannot be altered after they are created), they are ideal for cases where data integrity must be preserved, and you want to ensure that the data remains constant throughout the program.

Que 13.) How do sets handle duplicate values in Python ?

Ans=  sets automatically remove duplicates and store only unique values. A set is an unordered collection of elements, and it does not allow repeated values. When you try to add a duplicate value to a set, it simply ignores the new entry and keeps the original one.

When you add elements to a set, if the element is already present, it will not be added again.

This is because a set is designed to ensure uniqueness and cannot have duplicate items.

Que 14.) How does the “in” keyword work differently for lists and dictionaries ?

Ans= The in keyword in Python is used to check for membership, but it works differently depending on whether you're using a list or a dictionary.

1. For Lists:
When you use the in keyword with a list, it checks if the value you are looking for is present in the list. It searches through the list to find the item and returns True if the value is found, otherwise False.

2. For Dictionaries:
When you use the in keyword with a dictionary, it checks for the presence of the key in the dictionary, not the value. It returns True if the key is found in the dictionary and False otherwise.

Que 15.) Can you modify the elements of a tuple? Explain why or why not ?

Ans= you cannot modify the elements of a tuple in Python. This is because tuples are immutable.

Immutability means that once a tuple is created, its contents cannot be changed. You cannot add, remove, or modify individual elements in a tuple after it has been created.

Que 16.) What is a nested dictionary, and give an example of its use case ?

Ans= A nested dictionary in Python is a dictionary where the values of one or more keys are themselves dictionaries. This allows you to represent more complex data structures, such as multi-level mappings or hierarchical data, within a dictionary.

A nested dictionary is a dictionary where some values are dictionaries themselves. You can access elements inside a nested dictionary using multiple keys (like drilling down into the layers).

Que 17.) Describe the time complexity of accessing elements in a dictionary ?

ans= The time complexity of accessing elements in a Python dictionary is O(1) on average. This means that looking up an element by its key takes constant time, regardless of the number of elements in the dictionary.

Que 18.)  In what situations are lists preferred over dictionaries ?

Ans= lists and dictionaries serve different purposes, and the choice between them depends on the specific use case and the type of data you are working with. Lists are preferred over dictionaries in certain situations where their characteristics are more suitable

(1)When you need an ordered collection of items.

(2)When the data is sequential or iterable.

(3)When you need to store multiple values of the same type.

(4)When you need to frequently modify the collection (add, remove, or change elements).

Que 19.) Why are dictionaries considered unordered, and how does that affect data retrieval ?

Ans= Dictionaries in Python are considered unordered because the items in a dictionary do not have a fixed position or order. This is in contrast to ordered collections like lists, where elements are stored in a specific sequence and can be accessed by their index position.

The unordered nature of dictionaries does not affect the speed or efficiency of key-based lookups. The primary advantage of dictionaries is that they allow constant-time (O(1)) lookups on average, which is fast and efficient, regardless of the order in which the elements were added.

Que 20.)Explain the difference between a list and a dictionary in terms of data retrieval ?

Ans=(1) Data Storage: Ordered collection of items.
Unordered collection of key-value pairs.

(2) Access Method	:By index (position).
By key (unique identifier).

(3) Time Complexity:	O(1) for index-based retrieval.
O(1) for key-based retrieval (on average).

(4) Order:	Order is preserved (insertion order is important).
Order is not guaranteed (before Python 3.7), but insertion order is preserved from Python 3.7 onwards.

(5) Use Case:	When the position of elements is important (e.g., a list of numbers or steps).

When you need to associate unique keys with values (e.g., a dictionary of names and ages).

**Practical Questions :**

Que 1.) Write a code to create a string with your name and print it.

In [ ]:
name="Rajdeep"
print(name)

Rajdeep

Que 2.)Write a code to find the length of the string "Hello World" ?

In [ ]:
str1="Hello World"
print(len(str1))

11

Que 3.) Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
str1="Python Programming"
print(str1[0:3])

Pyt

Que 4.) Write a code to convert the string "hello" to uppercase ?

In [ ]:
str1="Hello"
print(str1.upper())

HELLO

Que 5.) Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [ ]:
str1="I like apple"
print(str1.replace("apple","orange"))

I like orange

Que 6.) Write a code to create a list with numbers 1 to 5 and print it ?

In [ ]:
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

Que 7.) Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

Que 8.) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

In [ ]:
list1=[1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

Que 9.) Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
list1=['a', 'b', 'c', 'd']
print(list1[1])

b

Que 10.) Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
list1=[10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

Que 11.)Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

Que 12.) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple1=('red', 'green', 'blue', 'yellow')
print(tuple1[1:])

('green', 'blue', 'yellow')

Que 13.)  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
tuple1=(10, 20, 5, 15)
print(min(tuple1))

5

Que 14.)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple1= ('dog', 'cat', 'rabbit')
print(tuple1.index('cat'))

1

Que 15.)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tuple1=("apple","orange","kiwi")
if "kiwi" in tuple1:
    print("kiwi is in tuple1")
else:
    print("kiwi is not in tuple1")

kiwi is in tuple1

Que 16.) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set1={'a','b','c'}
print(set1)

{'a', 'c', 'b'}

Que 17.) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set1={1,2,3,4,5}
print(set1.clear())

None

Que 18.) Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set1={1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

Que 19.)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1= {1, 2, 3}
set2={3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

Que 20.)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

Que 21.) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict1={"name":"Rajdeep","age":18,"city":"Harda"}
print(dict1)

{'name': 'Rajdeep', 'age': 18, 'city': 'Harda'}

Que 22.)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict1= {'name': 'John', 'age': 25}
dict1["country"]="USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

Que 23.) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict1= {'name': 'Alice', 'age': 30}
print(dict1['name'])

Alice

Que 24.)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
print(dict1)

{'name': 'Bob', 'city': 'New York'}

Que 25.)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
dict1={'name': 'Alice', 'city': 'Paris'}
if "city" in dict1.keys():
   print("the key city are present in the dict1")
else:
   print("the key city are not present in the dict1")

the key city are present in the dict1

Que 26.) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list1=[1,2,3,4,5]
tupl1=(1,2,3,4,5)
dict1={1:1,2:2,3:3,4:4,5:5}
print(list1)
print(tuple1)
print(dict1)

[1, 2, 3, 4, 5]
('apple', 'orange', 'kiwi')
{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

Que 27.)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
list1=[16,96,93,93,28]
list1.sort()
print(list1)

[16, 28, 93, 93, 96]

Que 28.)Write a code to create a list with strings and print the element at the third index

In [ ]:
list1=["Rajdeep","kuldeep","Prashant","vinit"]
print(list1[3])

vinit

Que 29.)Write a code to combine two dictionaries into one and print the result

In [ ]:
dict1={'name': 'Alice', 'city': 'Paris'}
dict2={1:2,3:4,5:6}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'city': 'Paris', 1: 2, 3: 4, 5: 6}

Que 30.)Write a code to convert a list of strings into a set.

In [ ]:
list1=["Rajdeep","kuldeep","Prashant","vinit"]
print(set(list1))

{'Rajdeep', 'Prashant', 'vinit', 'kuldeep'}